.CreateBusinessForm1 {
    margin: 0 auto;
    width: 500px;
}

h2 {
    text-align: center;
    color: #1686f7;
    font-weight: bold;
}

.dropdown {
    height: 20px;
    width: 300px;
}

.create-business-button {
    float: right;
    background-color: #1686f7;
    border: none;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 15px
}

#label-text {
    color: #7f8fa4;
    display: block;
    font-size: 1rem;
    font-weight: 700;
}